.contenedor {
    display:inline-block;
    justify-content: center;


}

.circulo{
    width: 70px;
    height:70px;
    border-radius: 50%;
    margin:5px;
    display:inline-block;

}

.circulo.naranja{
    background-color:rgb(255, 174, 0);
}

.circulo.gris{
    background-color:grey;
}