.caja-img{
    position:relative;
    display:flex;
    justify-content:center;
    
}

.fondo{
    position:absolute;


}

.encima {
    position:relative;
    z-index: 1;
    left:1rem;
    bottom:0;


}